---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Doctype from '../../components/Doctype.astro';

const posts = (await getCollection('blog')).sort(
(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Doctype/>

<main class="flex-grow flex justify-center">
    <div class="w-full">
        <!-- Header -->
        <div class="fixed flex w-full justify-center items-center pt-5 z-50">
            <Header />
        </div>

        <!-- Title Section -->
        <div class="relative flex flex-col items-center">
            <h1 class="text-[248px] font-bold font-anuphan text-white relative" id="portfolio-text">
                Projets
                <span class="absolute text-purple-800 font-alex text-[144px] font-normal bottom-0 right-0" id="design-text">Design</span>
            </h1>
        </div>

        <!-- Blog Cards Section -->
        <section class="flex justify-center px-6 py-20 relative z-10">
            <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
                {posts.map((post) => (
                <li class="relative group overflow-hidden">
                    <a href={`/blog/${post.slug}/`} class="block">

                        <div
                            class="relative flex justify-center items-center h-40 overflow-hidden rounded-xl group">
                            <img src={post.data.heroImage} alt=""
                                class="w-80 rounded-xl transition-transform duration-300 group-hover:scale-105" />
                            <div
                                class="absolute inset-0 bg-black opacity-0 transition-opacity duration-300 group-hover:opacity-50">
                            </div>
                        </div>

                        <div
                            class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full w-72 bg-white shadow-lg rounded-lg p-4 opacity-0 transition-all duration-700 group-hover:opacity-100 group-hover:translate-y-2 group-hover:z-10">
                            <h4 class="text-xl font-semibold text-gray-800 mb-2">
                                {post.data.title}
                            </h4>
                            <p class="text-sm text-gray-500 mb-4">
                                <FormattedDate date={post.data.pubDate} />
                            </p>
                            <span class="text-sm font-medium text-blue-500 hover:underline">
                                Read more
                            </span>
                        </div>
                    </a>
                </li>
                ))}
            </ul>
        </section>
    </div>
</main>

<!-- Footer -->
<Footer />
<svg width="0" height="0">
        <filter id="gooey">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="
                1 0 0 0 0
                0 1 0 1 0
                0 0 1 0 0
                1 0 0 20 -10" result="gooey" />
            <feComposite in="SourceGraphic" in2="gooey" operator="atop" />
        </filter>
    </svg>

</body>

</html>
