---
import Layout from "../layouts/BlogPost.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import HeaderLink from "../components/HeaderLink.astro";
import CardLoader from "../components/CardLoader.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ProjectCard from "../components/ProjectCard.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <div class="fixed flex w-full justify-center items-center pt-5 z-50">
    <Header />
  </div>

  <!-- Section parallaxe -->
  <div class="hover:bg-red">
    <div
      class="parallax group bg-white rounded-lg shadow-lg p-10 absolute top-[100%] left-[10%] px-5 py-3 z-10 hover:bg-red-100"
      data-speed="-2"
    >
      <div class="flex gap-2 p-0">
        <h2 class="text-black font-bold hidden sm:block font-anuphan">
          Hover me
        </h2>
        <h2 class="text-black font-bold sm:hidden font-anuphan">Click me</h2>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5"
          ></path>
        </svg>
      </div>
      <figure
        class="absolute -top-[60px] right-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <img
          src="/Kusmi-Tea.jpg"
          alt="Image Logo KusmiTea"
          class="w-40 h-auto relative"
        />
        <figcaption
          class="absolute top-full mt-2 flex text-xs w-full bg-black text-white border-white justify-center hover:bg-white hover:text-black font-anuphan font-medium"
        >
          <a href="/" class="flex border p-1 w-full">See more</a>
        </figcaption>
      </figure>
    </div>
  </div>

  <div
    class="parallax bg-white rounded-lg shadow-lg px-5 py-3 absolute top-[150%] right-[10%] z-50"
    data-speed="-1.5"
  >
    <div class="flex gap-2">
      <h2 class="text-black font-bold hidden sm:block font-anuphan">
        Hover me
      </h2>
      <h2 class="text-black font-bold sm:hidden font-serif">Click me</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5"
        ></path>
      </svg>
    </div>
  </div>
  <div
    class="parallax bg-white rounded-lg shadow-lg p-10 absolute top-[300%] left-[10%] px-5 py-3 z-10"
    data-speed="-3"
  >
    <div class="flex gap-2">
      <h2 class="text-black font-bold hidden sm:block">Hover me</h2>
      <h2 class="text-black font-bold sm:hidden">Click me</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5"
        ></path>
      </svg>
    </div>
  </div>

  <!-- Section Content -->
  <section
    class="flex flex-col text-white py-20 gap-5 justify-center items-center z-30"
  >
    <section
      class="flex flex-col px-5 md:px-40 gap-5 md:gap-10 justify-center items-center"
    >
      <div class="w-full">
        <div class="w-full">
          <div class="relative flex flex-col items-center justify-center">
            <h1 class="text-[248px] font-bold font-anuphan relative text-white">
              Jocelyn
              <span
                class="absolute text-purple-500 font-alex text-[144px] font-normal bottom-0 right-0 transform"
                >Vinatié</span
              >
            </h1>
          </div>
          <div
            class="flex flex-col md:flex-row w-full justify-center items-center gap-5"
          >
            <div class="flex flex-col items-center gap-5">
              <p
                class="text-md font-anuphan w-full text-center font-alex text-2xl"
              >
                Creative and passionate about digital design, I specialize in
                graphic design, UI/UX design and animation. I have worked on
                several projects, combining aesthetics and utility.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section avec les expériences, compétences, etc. -->
      <div class="grid grid-rows-6 grid-cols-6 grid-flow-col gap-4">
        <!-- EDUCATION -->
        <div class="col-span-3 row-span-2 border rounded-md p-4 h-full w-full">
          <div class="flex justify-center pb-2">
            <h1 class="text-2xl font-bold font-anuphan relative text-white">
              Education
            </h1>
          </div>
          <div class="flex flex-col  h-full w-full">
            <ul class="space-y-2">
              <li class="font-bold text-md">High School Diploma STI2D :</li>
              <p>Specialty Information and Digital Systems</p>
            </ul>
            <ul class="space-y-2">
              <li class="font-bold text-md">
                BUT Multimedia and Internet Professions :
              </li>
              <p>Digital Creation Course</p>
            </ul>
          </div>
        </div>

        <!-- EXPERIENCES -->
        <div class="col-span-3 row-span-2 border rounded-md p-4">
          <div class="flex justify-center pb-2">
            <h1 class="text-2xl font-bold font-anuphan relative text-white">
              Experiences
            </h1>
          </div>
          <ul>
            <li class="font-bold text-md">SAYTOUTCOM (87)</li>
            <li>Graphic Design - Motion design - Video editing</li>
          </ul>
          <ul>
            <li class="font-bold text-md">WENZEO (33) :</li>
            <li>Video editing - Graphic Design - Photo editing</li>
          </ul>
        </div>

        <!-- SKILLS -->
        <div class="col-span-3 row-span-1 border rounded-md p-4">
          <div class="flex justify-center pb-2">
            <h1 class="text-2xl font-bold font-anuphan relative text-white">
              Skills
            </h1>
          </div>
          <p class="w-full">
            Graphic Design Illustration, Brand Design, Video Editing, Motion
            Design, UI/UX, Web Design. Communication.
          </p>
        </div>

        <!-- SOFTWARE -->
        <div class="col-span-3 row-span-1 border rounded-md p-4">
          <div class="flex justify-center pb-2">
            <h1 class="text-2xl font-bold font-anuphan relative text-white">
              Software
            </h1>
          </div>
          <ul class="w-full flex justify-between">
            <li><img src="/ae.svg" alt="" class="custom-white-icons"></li>
            <li><img src="/ps.svg" alt=""></li>
            <li><img src="/pr.svg" alt=""></li>
            <li><img src="/ai.svg" alt=""></li>
            <li><img src="/blender.svg" alt=""></li>
            <li><img src="/figma.svg" alt=""></li>
            <li><img src="/css.svg" alt=""></li>
            <li><img src="/html.svg" alt=""></li>
            <li><img src="/js.svg" alt=""></li>
          </ul>
        </div>

        <!-- CONTACTS -->
        <div class="row-span-4 col-span-4 border rounded-md p-4">
          <div class="flex justify-center pb-2">
            <h1 class="text-2xl font-bold font-anuphan relative text-white">
              Contacts
            </h1>
          </div>
          <p class="w-full">Email: example@example.com</p>
          <p class="w-full">Phone: +123456789</p>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init({
              publicKey: "service_5jyiybd",
            });
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                // these IDs from the previous steps
                emailjs.sendForm('contact_service', 'contact_form', this)
                    .then(() => {
                        console.log('SUCCESS!');
                    }, (error) => {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>
</head>
<body>
    <form id="contact-form">
        <!-- To simplify the tutorial, the value is static. -->
        <input type="hidden" name="contact_number" value="697483">
        <label>Name</label>
        <input type="text" name="user_name">
        <label>Email</label>
        <input type="email" name="user_email">
        <label>Message</label>
        <textarea name="message"></textarea>
        <input type="submit" value="Send">
    </form>
        </div>

        <!-- LANGUAGES -->
        <div class="row-span-2 col-span-2 border rounded-md p-4">
          <div class="pb-2">
            <h1 class="text-2xl font-bold font-anuphan relative text-white">
              Languages
            </h1>
          </div>
          <p class="w-full">English - French - Spanish</p>
        </div>

        <!-- HOBBIES -->
        <div class="col-span-2 row-span-2 border rounded-md p-4">
          <div class="flex justify-center pb-2">
            <h1 class="text-2xl font-bold font-anuphan relative text-white">
              Hobbies
            </h1>
          </div>
          <p class="w-full">Reading - Traveling - Photography</p>
        </div>
      </div>

      <a
        href="/"
        class="px-5 py-3 border rounded-full font-anuphan font-bold hover:bg-white hover:border-white hover:text-black"
        >Projects</a
      >
    </section>
  </section>
</html>
