---
import Layout from "../layouts/BlogPost.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import HeaderLink from "../components/HeaderLink.astro";
import CardLoader from "../components/CardLoader.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ProjectCard from "../components/ProjectCard.astro";
---
<!doctype html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<div class="fixed flex w-full justify-center items-center pt-5 z-50">
  <Header />
</div>

<!-- Section parallaxe -->
<div class="hover:bg-red">

  
    <div
      class="parallax group bg-white rounded-lg shadow-lg p-10 absolute top-[100%] left-[10%] px-5 py-3 z-10 hover:bg-red-100"
      data-speed="-2">
      <div class="flex gap-2 p-0">
        <h2 class="text-black font-bold hidden sm:block font-anuphan ">Hover me</h2>
      <h2 class="text-black font-bold sm:hidden font-anuphan">Click me</h2>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5" />
        </svg>
      </div>
      <figure class="absolute -top-[60px] right-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <img src="/Kusmi-Tea.jpg" alt="Image Logo KusmiTea" class="w-40 h-auto relative">
        <figcaption class="absolute top-full mt-2 flex text-xs w-full bg-black text-white border-white justify-center hover:bg-white hover:text-black font-anuphan font-medium">
          <a href="/" class="flex border p-1 w-full">See more</a>
        </figcaption>
      </figure>
    </div>
  </a>

  <div class="parallax bg-white rounded-lg shadow-lg px-5 py-3 absolute top-[150%] right-[10%] z-50" data-speed="-1.5">
    <div class="flex gap-2">
      <h2 class="text-black font-bold hidden sm:block font-anuphan">Hover me</h2>
      <h2 class="text-black font-bold sm:hidden font-serif">Click me</h2>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5" />
      </svg>
    </div>
  </div>
  <div class="parallax bg-white rounded-lg shadow-lg p-10 absolute top-[300%] left-[10%] px-5 py-3 z-10"
    data-speed="-3">
    <div class="flex gap-2">
      <h2 class="text-black font-bold hidden sm:block">Hover me</h2>
      <h2 class="text-black font-bold sm:hidden">Click me</h2>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5" />
    </svg>
    </div>
  </div>
</div>


<!-- Section Content -->
<!-- Section Content -->
<section class="flex flex-col text-white py-20 gap-10 justify-center items-center z-30">
  <section class="flex flex-col px-5 md:px-40 gap-10 md:gap-36 justify-center items-center">
    <div class="w-full">
      <div class="w-full">
        <div class="w-full">
          <img class="w-full h-auto mx-auto" src="/JV.svg" alt="Jocelyn Vinatié" />
        </div>
        <div class="flex flex-col md:flex-row w-full justify-center items-center gap-10">
          <div class="flex flex-col items-center gap-5">
            <ul class="flex flex-wrap gap-5 justify-center">
              <li class="border p-2">Web Design</li>
              <li class="border p-2">Motion Design</li>
              <li class="border p-2">UI Design</li>
            </ul>
            <p class="text-md font-anuphan w-full md:w-96 text-center">
              Creative and passionate about digital design, I specialize in graphic design, UI/UX design and animation.
              I have worked on several projects, combining aesthetics and utility.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Section avec les expériences, compétences, etc. -->
    <div class="grid grid-cols-1 md:grid-cols-2 text-white font-anuphan text-sm gap-8">
      <!-- EDUCATION -->
      <div class="flex flex-col gap-[20px] md:items-end text-center md:text-right">
        <img class="w-auto max-h-10 mx-auto md:mx-0" src="/Edu.svg" alt="Education" />
        <ul>
          <li class="font-bold text-md">High School Diploma STI2D :</li>
          <li>Specialty Information and Digital Systems</li>
          <li>High School, Gustave Eiffel, Bordeaux</li>
        </ul>
        <ul>
          <li class="font-bold text-md">BUT Multimedia and Internet Professions :</li>
          <li>Digital Creation Course</li>
          <li>IUT, Limoges (87)</li>
        </ul>
      </div>

      <!-- EXPERIENCES -->
      <div class="flex flex-col gap-[20px] md:items-start text-center md:text-left">
        <img class="w-auto max-h-10 mx-auto md:mx-0" src="/Xp.svg" alt="Experiences" />
        <ul>
          <li class="font-bold text-md">SAYTOUTCOM (87)</li>
          <li>Graphic Design - Motion design - Video editing</li>
        </ul>
        <ul>
          <li class="font-bold text-md">WENZEO (33) :</li>
          <li>Video editing - Graphic Design - Photo editing</li>
        </ul>
      </div>

      <!-- SKILLS -->
      <div class="flex flex-col gap-[20px] md:items-end text-center md:text-right">
        <img class="w-auto max-h-10 mx-auto md:mx-0" src="/Skills.svg" alt="Skills" />
        <p class="w-full md:w-96">
          Graphic Design Illustration, Brand Design, Video Editing, Motion Design, UI/UX, Web Design. Communication.
        </p>
      </div>

      <!-- SOFTWARE -->
      <div class="flex flex-col gap-[20px] md:items-start text-center md:text-left">
        <img class="w-auto max-h-10 mx-auto md:mx-0" src="/Software.svg" alt="Softwares" />
        <p class="w-full md:w-96">
          Premier Pro - After Effect - Illustrator - Figma - Blender - HTML - CSS
        </p>
      </div>
    </div>

    <a href="/" class="px-5 py-3 border rounded-full font-anuphan font-bold hover:bg-white hover:border-white hover:text-black">Projects</a>
  </section>
</section>



<!-- <section class="flex justify-center gap-5 relative w-full">
			<div class="w-96">
				<CardLoader loop="loop-scroll" />
			</div>
			
		  </section>
		   -->