---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">

<head class="">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<div class="flex w-screen h-screen items-center justify-center fixed">
	<div class="relative flex flex-col items-center justify-center">
		<h1 class="text-[248px] font-bold font-anuphan relative text-white">Portfolio
			<span
				class="absolute text-purple-500 font-alex text-[144px] font-normal bottom-0 right-0 transform">Design</span>
		</h1>
		<div>
			<Header />
		</div>
	</div>
</div>
<Footer />
</body>

</html>