---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head class="">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="overflow-hidden">
		<div class="flex flex-col items-center justify-center min-h-screen bg-black text-white">
			<div class="relative">
				<h1 class="text-9xl font-bold font-anuphan pb-10">Portfolio 
					<span class="absolute text-purple-500 font-alex text-7xl font-normal bottom-20 right-0">Design</span>
				</h1>
				<Header/>
			</div>
		</div>

		<div>
			
		</div>
		<Footer />
	</body>
</html>
